:root { 
--purple_100:#e0c0e0; 
--gray_600:#737b6a; 
--blue_gray_200:#9ec6c2; 
--gray_500:#a3afa2; 
--light_green_100:#dbf9c8; 
--red_300:#cc6984; 
--deep_purple_700:#4d09c2; 
--green_A100:#cafdc6; 
--orange_50:#fff4e5; 
--teal_900:#013e39; 
--teal_900_02:#0f403c; 
--white_A700:#ffffff; 
--teal_900_01:#003e39; 
--pink_200:#ec92af; 
}